{% extends 'base.html.twig' %} {% block title %}Hello AgenceController!{% endblock %} {% block body %}
<div class="container mt-3">
    <h3>Creation de bien</h3>
    {{ form_start(form)}} {{ form_widget(form)}}
    <button type="submit" class="btn btn-success">Creer</button>{{ form_end(form)}}
</div>

{% endblock %}